# Ignore build output
/out/
/bin/
*.class

# IDE/project files
*.iml
.idea/
*.vscode/
*.classpath
*.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Dependency directories
target/
build/

# Logs
*.log

# Others
*.tmp
*.swp
